---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE } from '../config'
---

<html lang="en">
    <Head title={`404 / ${SITE_TITLE}`} description="Page not found." />
    <body>
        <section class="main-wrapper">
            <Header />
            <main>
                <div>
                    <span>seems like you got lost</span>
                    <span>back to <a href="/">main page</a></span>
                </div>
                <img src="/dister.gif" alt="lost character" width="120" height="120" loading="eager" decoding="async" />
            </main>
            <Footer />
        </section>
    </body>
</html>

<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    main > div {
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    @media screen and (max-width: 30rem) {
        main {
            flex-direction: column;
        }
    }
</style>
