---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE } from '../config'
import { Image } from 'astro:assets'
import hero from '../../public/hero.jpg'
---

<html lang="en">
	<Head title={SITE_TITLE}></Head>
	<body>
		<section class="main-wrapper">
			<Header></Header>
			<main>
				<div>
					<div>
						I'm a Sound Designer and Music Producer with experience dating back to 2014; <br>
						fascinated with telling stories with the most meaningful audio I can craft.
					</div>
					<section class="info-wrapper">
						<div>
							<div class="category">Sound / Music</div>
							<span>Ableton, Reaper, Nuendo, RX Pro, Pro Tools</span>
						</div>
						<div>
							<div class="category">Graphics Design</div>
							<span>Photoshop, After Effects, Blender</span>
						</div>
						<div>
							<div class="category">Game Development</div>
							<span>Unity, C#, Unreal Engine(3,4,5), Fmod, Wwise</span>
						</div>
					</section>
				</div>
				<div>
					<Image src={hero} width={720} alt="hero image" quality={90} />
				</div>
			</main>
			<Footer></Footer>
		</section>
	</body>
</html>

<style>
	main {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		gap: var(--size-900);
		max-width: 45rem;
		margin-inline: auto;
	}

	main > div {
		display: grid;
		gap: var(--size-900);
	}

	.info-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.category {
		color: var(--cl-grey-800);
	}

	@media screen and (max-width: 60rem) {
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: var(--size-700);
			max-width: 20rem;
		}

		main > div {
			gap: var(--size-700);
		}

		img {
			width: 320px;
		}
	}
</style>